
*.class
*.class
/target/Ticket_tool-0.0.1-SNAPSHOT/WEB-INF/classes/SummaryReport.pdf
/target/classes/SummaryReport.pdf
/target/*
target/m2e-wtp/web-resources/META-INF/maven/com.xyram.ticket/Ticket_tool/pom.xml
